<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="__JS__/jquery.js"></script>
  <title>综采工作面</title>

</head>

  <frameset frameborder=0 framespacing=0 border=0 rows ="55,*,32">

  <!-- <frame src="__URL__/top.html" name="top" frameborder=0 noresize scrolling='no' marginwidth=0 marginheight=0> -->
    <frame src="{:url('Comm/top')}" name="top" frameborder=0 noresize scrolling='no' marginwidth=0 marginheight=0>

    <frame src="{:url('Comm/main')}"  name="main" frameborder=0 id="main-frame">

    <noframes></noframes>

    <frame src="{:url('Comm/footer')}" name="footer" frameborder=0 noresize scrolling='no' marginwidth=0 marginheight=0>
  </frameset>
</html>
